@model IEnumerable<ASUProjectSubmission.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                API Verified
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if (item.APIIsValid)
                {
                    <button class="btn btn-success btn-sm">
                        <span class="fa fa-check-circle" aria-hidden="true"></span>
                    </button>
                }
                else
                {
                    <button class="btn btn-warning btn-sm">
                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                    </button>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StudentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StudentId">Details</a> 
                @*<a asp-action="Delete" asp-route-id="@item.StudentId">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
